.info-files-list-group {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
}

.info-files-list-group > .list-group-item {
    word-wrap: break-word;
}

.btn-download {
    display: inline-block;
}
